/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

html {
    scroll-behavior: smooth;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
  margin: 0;
  /* overflow: hidden; */
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100vh;
  background-color: #333;
  padding-top: 30px;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }

}

.sublime-background {
    background-image: url("./../img/sublime-background.png");
}

.background-1 {
    background-image: url("./../img/bg1.png");
    background-repeat: repeat-xy;
}

.cover-heading {
    font-family: 'Great Vibes', cursive;
    font-size: 8vw;
    font-style: normal;
}

.circle-with-down-arrow a img {
    display:block;
    margin:auto;
}
.bottom-arrow-outter-center {
    bottom: 70px;
    width: 100%;
}
.bottom-arrow-outter-center > section {
    position: relative;
    width: 100%;
    height: 100%;
}
.bottom-arrow-outter-center > section::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 80%;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}

#bottom-arrow-section-id { background: none center center / cover no-repeat;}

.bottom-arrow-container a {
    position: absolute;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}
.bottom-arrow-container a:hover {
    opacity: .5;
}

#bottom-arrow-section-id a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
}
#bottom-arrow-section-id a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
#bottom-arrow-section-id a span:nth-of-type(2) {
    top: 16px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}
#bottom-arrow-section-id a span:nth-of-type(3) {
    top: 32px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes sdb07 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.float-right {
    float: right;
}

.overflow-hidden {
    overflow: hidden;
}
.skills-header-container {
  font-size: 3vw;
  text-align: left;
  margin-left: 40px;
  background-color: rgb(158, 158, 158);
  opacity: .9;
}

.skills-header-container > span {
  margin-left: 20px;
}

.navbar {
  margin-bottom : -2px !important; 
}

nav {
  height: auto !important;
}

.skill-image-container {
  width:100%;
}
.skill-image {
  height: 110px;
}
.skills-wrapper > div > div > span {
  color: rgb(0, 51, 0);
}

.skill-heading-container {
  padding-left: 80px;
  padding-top: 10px;
  margin-top: 10px;
}
.skill-heading-first-half, .about-me-first-half, .experience-first-half {
  width:1%;
  /*background-color: #A8A8A8;*/
  background-color: black;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1vw;
}
.skill-heading-second-half{
  width:98%;
  background-color: #D3D3D3;
  text-align: left;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1vw;
}
.float-left {
  float: left;
}
.about-me-second-half {
  width: 90%;
  background-color: white;
  text-align: left;
  padding-left: 30px;
  padding-top: 5px;
  margin-right: 1%;
  padding-bottom: 5px;
  font-size: 1vw;
  color:black;
}
.about-me-text {
  text-align: justify;
  text-justify: inter-word;
}
.experience-second-half {
  width: 90%;
  background-color: white;
  text-align: left;
  padding-left: 30px;
  padding-top: 5px;
  margin-right: 1%;
  padding-bottom: 5px;
  font-size: 1vw;
  color:black;
}
.experience-details {
  text-align: justify;
  text-justify: inter-word;
}
.padding-left-10px {
  padding-left: 10px;
}
.experience-container {
  padding-left: 160px;
  padding-top: 10px;
  margin-top: 10px;
}
.experience-second-half-extra-px {
  width: 95%;
  background-color: white;
  text-align: left;
  padding-left: 30px;
  padding-top: 5px;
  margin-right: 1%;
  padding-bottom: 5px;
  font-size: 1vw;
  color:black;
}
.experience-details > div > span {
  font-weight: bold;
}