body {
    background-color : #1c1c1b;
    font-family: sans-serif;
}
.navbar {
    background-color: #303030;
}
./*profile-pic-container {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-pic {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: calc(100vh - 800px) !important;
    z-index: 111;
    border-radius: 30px;
    left: 40px;
    top: 40px;
    box-shadow: 0 0 7px rgba(0,0,0,.9);
}
.image-wrapper {
    margin-bottom: 10px; !* Adjust spacing between image and text *!
}

.profile-pic {
    !* Define image styles if needed *!
    max-width: 100%; !* Adjust image width if needed *!
    height: auto;
}*/

.profile-pic-container {
    padding-top: 5vh; /* Adjust top padding as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.image-wrapper {
    margin-bottom: 20px; /* Adjust spacing between image and text */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top:10vh;
}

.profile-pic {
    /*max-width: 100%; !* Adjust image width as needed *!*/
    /*height: calc(100vh - 800px) !important;*/
    height: calc(100vh - 800px) !important;
    border-radius: 30px;
    box-shadow: 0 0 100px 10px rgba(0, 0, 0, .9);
    /*box-shadow: 0 0 5000px 1px rgba(255, 255, 255, 0.5);*/
}
.text-content{
    margin-bottom: 20px; /* Adjust spacing between image and text */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.text-content > p{
    font-size: large;
}

@keyframes wobble1 {
    0% { transform: rotate(-5deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(-5deg); }
    75% { transform: rotate(5deg); }
    100% { transform: rotate(0); }
}

@keyframes wobble2 {
    0% { transform: rotate(3deg); }
    25% { transform: rotate(-3deg); }
    50% { transform: rotate(3deg); }
    75% { transform: rotate(-3deg); }
    100% { transform: rotate(0); }
}

@keyframes wobble3 {
    0% { transform: rotate(-6deg); }
    25% { transform: rotate(6deg); }
    50% { transform: rotate(-6deg); }
    75% { transform: rotate(6deg); }
    100% { transform: rotate(0); }
}
.talk-topic-img {
    height: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation-duration: 1s; /* Default duration */
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.wobble1 {
    animation-name: wobble1;
    animation-delay: 0.5s; /* Delay for the first image */
}

.wobble2 {
    animation-name: wobble2;
    animation-delay: 0.5s; /* Delay for the second image */
}

.wobble3 {
    animation-name: wobble3;
    animation-delay: 0.5s; /* Delay for the third image */
}
.talk-topic-container {
    display: flex;
    padding-top: 30px;
}

.talk-topic-container > div {
    margin-right: 60px;
    margin-left: 60px;/* Adjust the space between the divs */
}

.talk-topic-container > div:last-child {
    margin-right: 0; /* Remove margin for the last div */
    /*margin-left: 0;*/
}
.talk-topic-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-content h1 {
    font-size: 5em; /* Set a base font size */
}

/* Change the font size based on the container's width */
@media (max-width: 600px) {
    .text-content h1 {
        font-size: 3em; /* Adjust font size for smaller screens */
    }
}

@media (max-width: 400px) {
    .text-content h1 {
        font-size: 2em; /* Further adjust font size for even smaller screens */
    }
}

.talk-topic-detail-container > span {
    text-align: center;
}


.copyright-container {
    color: black;
    margin-top: 20px;
}

.footer-icon {
    width: 50px;
    height: 50px;
    padding: 5px;
    margin-left: 20px;
}

.footer-icon-table {
    margin-top :10px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 20px; /* Padding for the top */
    padding-left: 20px; /* Padding for the left */
    padding-right: 20px; /* Padding for the right */
}
.footer-blog{
    position: fixed;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes glow {
    0% {
        border-radius: 50%;
        box-shadow: 0 0 30px 1px rgba(255, 255, 255, 0.5);
    }
    25% {
        border-radius: 50%;
        box-shadow: 0 0 40px 1px rgba(255, 255, 255, 0.5);
    }
    50% {
        border-radius: 50%;
        box-shadow: 0 0 50px 1px rgba(255, 255, 255, 0.5);
    }
    75% {
        border-radius: 50%;
        box-shadow: 0 0 40px 1px rgba(255, 255, 255, 0.5);
    }
    100% {
        border-radius: 50%;
        box-shadow: 0 0 30px 1px rgba(255, 255, 255, 0.5);
    }
}

.glow-image-circle {
    border-radius: 50%;
    box-shadow: 0 0 30px 2px rgba(255, 255, 255, 0.5); /* Adjust the shadow values as needed */
}

.glow-animation {
    animation-duration: 1s; /* Default duration */
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-name: glow;
    animation-delay: 0.5s; /* Delay for the first image */
}

