body{
    margin:0 0;
    padding:0 0;
}
body::-webkit-scrollbar {
    width: 5px;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.dimension-24x25{
    width: 24px;
	height: 25px;
}
.left-align{
    float:left !important;
}
.right-align{
    float:right !important;
}   
.overflow-none{
    overflow:hidden !important;
}
.full-screen{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-content: center;
}
.main-container {
    margin:0 0;
    padding:0 0;
}

.header-wrapper {
    margin:0 0;
    overflow:hidden;
    background-color: #151515;
}
.name{
    font-family: 'Rock Salt', cursive;
    font-weight: 400; 
    color:white;
    font-size:20px;
}

.name-container {
    margin:0 0;
    padding-left:20px;
}
.heading-menu-content{
    margin:0 0;
    padding-right:20px;
    padding-top:10px;
}
.skype, .google, .twitter, .linkedin, .github, .facebook{
    cursor: pointer;
    padding-left:10px;
    padding-right:10px;
}
.facebook{
    background: url('../images/facebook-circle-color.png') no-repeat -4px -4px;
}
.twitter{
    background: url('../images/twitter-circle-color.png') no-repeat -4px -4px;
}
.skype{
    background: url('../images/skype-circle-color.png') no-repeat -4px -4px;
}
.google{
    background: url('../images/google-plus-circle-color.png') no-repeat -4px -4px;
}
.github{
    background: url('../images/github-circle-color.png') no-repeat -4px -4px;
}
.linkedin{
    background: url('../images/linkedin-circle-color.png') no-repeat -4px -4px;
}
.menu-innercontent {
    overflow:hidden;
}
.who-am-i{
    font-family: 'Pacifico', cursive;
    font-size: 100px;
    margin: 0 0;
    height:90%;
    overflow:hidden;
}
.who-am-i center{
    font-family: 'Pacifico', cursive;
    font-size: 110px;
    margin: 0 0;
    margin-top:10%;
}
.down-arrow{
    background: url('../images/arrowDown.png') no-repeat -49px -50px;
    width: 90px;
    height: 70px;
    margin: 0 auto;
    background-size: 188px 174px;
}
.content{
    border-width: 1px;
    border-style: dashed;
    border-color:black;
    width:1024px;
    margin:0 auto;
    height: 720px;
    margin-top:35px;
    background:white;
    padding: 0px 20px;
}
.inner-content {
    overflow:hidden;
    margin:0 0;
    padding:0 0;
}
.flag {
    float:left;
    width: 80px;
    height: 768px;
    padding-top: 15px;
    position: absolute;
    background: #4169E1;
    color: white;
    font-size: 11px;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    
    margin-top:-10px
}
.flag:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 40px solid white;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
}
.main-content {
    margin:0 0;
    padding:0 0;
    float:left;
    overflow:hidden;
    margin-left: 120px;
}
.center-content {
    float:left;
    margin:0 0;
    padding:0 0;
}
.row {
    margin:0 0;
    padding:0 0;
    overflow: hidden;
}
.row-text{
    /*//font-family: "Comic Sans MS", "Comic Sans", cursive;
    //font-family: lato;*/
    font-family: 'Lobster', cursive;
    font-size: 20px;
    text-align: justify;
    float:left;
    margin-top: 12px;
}
.row-profile-image {
    float: left;
    margin: 0 0;
    padding: 0 0;
    margin-top: -34px;
    z-index: 1000;
    position: absolute;
    margin-left: 41em;
}
.profile-pic {
    background-image: url("../images/profile.jpg");
    background-position: 54% 40%;
    background-repeat: no-repeat;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 200px;
    height: 217px;
    background-size: 205px;
    border-width: 2px;
    border-color: #66C2FF;
    border-style: solid;
    margin-left:30px;
    margin-top: 20px;
}