body{
    margin:0 0;
    padding:0 0;
}
.heading-content{
    
    width:1024px;
    margin:0 auto;
    margin-top:35px;
    padding: 0px 20px; 
}
.content{
    border-width: 1px;
    border-style: dashed;
    border-color:black;
    width:1024px;
    margin:0 auto;
    height: 720px;
    margin-top:35px;
    background:white;
    padding: 0px 20px;
}
.flag {
    float:left;
    width: 80px;
    height: 768px;
    padding-top: 15px;
    position: absolute;
    background: #4169E1;
    color: white;
    font-size: 11px;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    
    margin-top:-10px
}
.flag:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 40px solid white;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
}
.inner-content {
    overflow:hidden;
    margin:0 0;
    padding:0 0;
}

.main-content {
    margin:0 0;
    padding:0 0;
    float:left;
    overflow:hidden;
    margin-left: 120px;
}

.center-content {
    float:left;
    margin:0 0;
    padding:0 0;
}
.center-content h1{
    /*font-family: "Comic Sans MS", "Comic Sans", cursive;*/
    /*font-family: 'Yellowtail', cursive;*/
    /*font-family: 'Lobster', cursive;*/
    font-family: 'Pacifico', cursive;
   /* font-family: 'Dancing Script', cursive;*/
    
    /*font-family: 'Playball', cursive;*/
    /*font-family: "Zapf Chancery", cursive;*/
    font-size:50px;
    margin: 0 0;
    margin-top: 45px;
}
.row-text{
    /*//font-family: "Comic Sans MS", "Comic Sans", cursive;
    //font-family: lato;*/
    font-family: 'Lobster', cursive;
    font-size: 20px;
    text-align: justify;
    float:left;
    margin-top: 12px;
}

.row {
    margin:0 0;
    padding:0 0;
    overflow: hidden;
}

.row-profile-image {
    float: left;
    margin: 0 0;
    padding: 0 0;
    margin-top: -34px;
    z-index: 1000;
    position: absolute;
    margin-left: 41em;
}

.profile-pic {
    background-image: url("../images/profile.jpg");
    background-position: 54% 40%;
    background-repeat: no-repeat;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 200px;
    height: 217px;
    background-size: 205px;
    border-width: 2px;
    border-color: #66C2FF;
    border-style: solid;
    margin-left:30px;
    margin-top: 20px;
}

.footer {
    margin-top:10px;
}
.heading-content center{
    /* font-family: "Comic Sans MS", "Comic Sans", cursive; */
    /* font-family: 'Yellowtail', cursive; */
    /* font-family: 'Lobster', cursive; */
    font-family: 'Pacifico', cursive;
    /* font-family: 'Dancing Script', cursive; */
    /* font-family: 'Playball', cursive; */
    /* font-family: "Zapf Chancery", cursive; */
    font-size: 100px;
    margin: 0 0;
    margin-top: 30%;
}
.header-container {
    margin:0 0;
    padding:0 0;
    overflow:hidden;
    background:#303030 ;
    padding-left:30px;
    padding-right:30px;
    position:fixed;
    width:100%;
    z-index:1000;
}

.heading {
    float: left;
    font-family: 'Rock Salt', cursive;
    font-weight: 400; 
    color:white;
    font-size:20px;
}
.menu-inner-content{
    overflow:hidden;
    margin:0 0;
    padding:0 0;
}
.skype, .google, .twitter, .linkedin, .github, .facebook{
    float:right;
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
    cursor: pointer;
}
.facebook{
    background: url('../images/facebook-circle-color.png') no-repeat -4px -4px;
	width: 24px;
	height: 25px;
}
.twitter{
    background: url('../images/twitter-circle-color.png') no-repeat -4px -4px;
	width: 24px;
	height: 25px;
}
.skype{
    background: url('../images/skype-circle-color.png') no-repeat -4px -4px;
	width: 24px;
	height: 25px;
}
.google{
    background: url('../images/google-plus-circle-color.png') no-repeat -4px -4px;
	width: 24px;
	height: 25px;
}
.github{
    background: url('../images/github-circle-color.png') no-repeat -4px -4px;
	width: 24px;
	height: 25px;
}
.linkedin{
    background: url('../images/linkedin-circle-color.png') no-repeat -4px -4px;
	width: 24px;
	height: 25px;
}
.header{
    overflow:hidden;
    z-index:1000;
}

.heading-menu-content{
    float: right;
    margin-right: 50px;

}